.logo{
    margin-right:33rem;
    margin-left: 10rem;
    background-color: rgb(179, 179, 179);
   font-size: 13px;
   padding: 0px 30px;
}



.nav-link {
 font-weight: 550;
  font-family: Arial, sans-serif;
  color: #336699;
  width: 95px;
  height: 33px;
  text-align: center;
}
