<nav class="navbar navbar-expand-sm bg-light navbar-light">
  
    <div class="container-fluid">
      
      <ul class="navbar-nav">
        <div class="logo">
        <li class="nav-item">
        
          <a class="nav-link disabled" href="#" style="color: aliceblue;">Logo</a>
        </li>
      </div>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/homepage">Home</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Log out</a>
        </li>
    
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>