
          <div class="wrapper">
            <div class="left-section">
           <img src="assets/images/photo.png" alt="Hello World!">
           </div>
           <div class="right-section">
           <h2 class="user-header">User Login</h2>
           <div class="form-wrap">
            <form action="#">
                <div class="input-box-type">
                    <input type="email" [(ngModel)] ="loginObj.email" name="email" placeholder="Email" required>
                 
                </div>
                <div class="input-box-type">
                    <input type="password" [(ngModel)] ="loginObj.password" name="password" placeholder="Password" required>
               
                    <p class="forgot-password">Forgot Password</p>
                </div>
              
                <button type="submit" class="btn-login" (click)="onLogin()">Login</button>
                <p class="p-clousing">Don't have account? <a>Sign Up</a></p>
          
            </form>
        </div>
        </div>
        </div> 